body {
    border: dotted rgb(251, 251, 251) 3px;
    margin: 10px 10px;
    font-family: monospace;    
}

header {
    display: flex;
    font-size: 30px;  
    justify-content: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 30%;
    font-size: 20px;
}

nav ul {
    background-color: white;
    border: 5px black dotted;
}


.hero {
    width: 100%;
    max-height: 250px;
}